<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Sign up</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/public/assets/signupcss.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

 <!--Navigation bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#myPage">Stuff up</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="home">Home</a></li>
        <li><a href="home#Services">Services</a></li>
        <li><a href="home#tracking">Track Shipment</a></li>
        <li><a href="home#about">About us</a></li>
        <li><a href="home#contact">Contact us</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
  </div>
</nav>

 <!--Login form  -->
 <script>
   function ValidateEmail(inputText)
   {
     var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
     if(inputText.value.match(mailformat))
     {
     document.form.email.focus();
     return true;
     }
     else
     {
     alert("You have entered an invalid email address!");
     document.form.email.focus();
     return false;
     }

   }

 </script>

<div class="login-form">
    <form action="/signup" method="post">
        <h2 class="text-center">Sign up</h2>
        <div class="text-center social-btn">
	<a href="/auth/google" class="btn btn-danger btn-block"><i class="fa fa-google"></i> Sign up with <b>Google</b></a>
        </div>

        <div class="or-seperator"><i>or</i></div>

        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" name="firstname" placeholder="Firstname" style="min-height: 38px;  border-radius: 10px; width: 280px;  required="required">

            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" name="lastname" placeholder="Lastname" style="min-height: 38px;  border-radius: 10px; width: 280px;  required="required">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input type="email" class="form-control" name="email"  placeholder="Email address" style="min-height: 38px;  border-radius: 10px; width: 280px; required="required">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input type="tel" class="form-control" name="phoneno" placeholder="Phone number" pattern="[0-9]{10}"  style="min-height: 38px;  border-radius: 10px; width: 280px;  required="required">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input type="password" class="form-control" name="password" placeholder="Password" style="min-height: 38px;  border-radius: 10px; width: 280px;  required="required">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input type="password" class="form-control" name="retypepassword" placeholder="Confirm Password" style="min-height: 38px;  border-radius: 10px; width: 280px;  required="required">
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block signup-btn" onclick="ValidateEmail(document.form.email)">Sign up</button>
        </div>
        <label style="color:red;"><%if (messages.errorMessage) {%><%= messages.errorMessage%><%}else if(messages.errorMessage2) {%><%= messages.errorMessage2 %><%}
           %></label>

    </form>
    <div class="hint-text small">Already have an account? <a href="/login" class="text-success">Login</a></div>
</div>


<!--footer bar -->
<footer>
       <div class="navbar navbar-inverse navbar-navbar-hide-on-scroll">
       <div class="container-fluid text-center ">
         <p class="copyright" style="font-size: 14px" >Stuffup © 2020</p>
       </div>

       <a id="back-to-top" href="#" class="btn btn btn-lg back-to-top" role="button" title="Click to return on the top page" style="float: right;" data-toggle="tooltip" data-placement="left
      "><span class="glyphicon glyphicon-chevron-up"></span></a>
       </div>
   </footer>
</body>
</html>
</body>
</html>
